body {
    background-color: green;
    font-family:'Courier New', Courier, monospace;
}

img {
    height: auto;
    width: 150px;
}

h1 {
    text-align: center;
}

a {
    color:white;
    background-color:red;
    border: 1px solid white;
}